* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px 15px 0px 15px;
  display: flex;
}

.leftBlock {
  flex: 0 1 30%;
}

.leftBlock > :nth-child(1) {
  padding-bottom: 60px;
}

.leftLabel {
  margin-bottom: 30px;
}

.emptyList {
  padding-left: 135px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBlock {
  flex: 0 1 70%;
}

.counterActive {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 22px;
}

.counter {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 35px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5vw;
}

.product {
  padding: 10px;
  border: 1px solid darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productContent > *:not(:last-child) {
  margin-bottom: 10px;
}

.deleteButton {
  padding: 5px 10px;
  color: darkblue;
  border: 1px solid darkblue;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.crossed {
  text-decoration: line-through;
}

.itemDiscount {
  margin-left: 30px;
}
